
@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Familjen+Grotesk:ital,wght@0,400..700;1,400..700&display=swap');

body {
    font-family: "Familjen Grotesk", sans-serif;
}
.main-container {
    padding: 48px 72px 72px 72px;
    margin: auto;
    box-sizing: border-box;
}
.header-container {
margin-bottom: 40px;
padding-left: 16px;
}
.header-container p {
 font-size: 20px;
 font-weight: 500;   
}
h2, p {
  margin-bottom: 0px;  
}
.card {
    border: 0px;
    border-radius: 0;
}
p.card-text {
    color: #5F6E7C;
    font-weight: 400;
}
.col {
  padding: 0px;  
}
img.card-img {
    width: 247px;
    height: 142px;
}
.card-body {
    padding: 0;
}
.card-body h2.card-title {
 margin-bottom: 16px;   
}
.row-other-posts  h2.card-title {
    margin-bottom: 8px;   
   }
.card-body p {
margin-bottom: 16px;    
}
.primary-row {
    gap: 50px;
}
.row {
 margin: 0;   
}
.row.row-other-posts {
    gap: 20px;
}

.card.card-other-posts:not(:last-child) {
    border-bottom: 1px solid #B5C0CC;
}

.card.card-other-posts {
    padding-bottom: 16px;
}

.card.card-other-posts:not(:first-child) {
    padding-top: 16px;
}
.author-container {
    display: flex;
    gap: 10px;
}
.author-container p {
   margin-bottom: 0px; 
}
.author-container img {
    width: 50px;
}
.col.img-col {max-width: 247px;}
@media only screen and (min-width: 1440px) {
    .row-other-posts .col:first-child {
        padding-left: 20px;
    }
  .card-body {
    padding: 20px 16px 16px 16px;
  }
  h2.card-title {
    font-size: 1rem;
  }

  }
